<mat-card class="coffee-card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>{{detailedCoffee.brandName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image [src]="detailedCoffee.imageUri" alt="Brand logo">
      <div class="rating-container">
        <bar-rating [(rate)]="detailedCoffee.rating" [max]="5" [theme]="'fontawesome'"></bar-rating>
      </div>
      <div class="content-container">
        <div class="content-item">
          <mat-icon svgIcon="espresso"></mat-icon>
          <h2>{{detailedCoffee.loggedRecords}}</h2>
        </div>
        <div class="content-item">
          <mat-icon svgIcon="country"></mat-icon>
          <h2>{{detailedCoffee.country}}</h2>
        </div>
        <div class="content-item">
          <mat-icon svgIcon="beans"></mat-icon>
          <h2>{{detailedCoffee.coffeeType}}</h2>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog('log')">LOG COFFEE <mat-icon svgIcon="portafilter"></mat-icon></button>
      <button mat-button (click)="openDialog('details')">DETAILS <mat-icon svgIcon="information"></mat-icon></button>
    </mat-card-actions>
  </mat-card>