<div class="container">
  <mat-card class="coffeeCard mat-elevation-z8">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>IEF & IDO</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image [src]="cardImage" alt="Photo of a Shiba Inu">

      <bar-rating [(rate)]="rate" [max]="5" [theme]="'fontawesome'"></bar-rating>
      
      <div class="contentContainer">
        <div class="contentItem">
          <mat-icon svgIcon="espresso"></mat-icon>
          <h2>214</h2>
        </div>
        <div class="contentItem">
          <mat-icon svgIcon="country"></mat-icon>
          <h2>Guatemala</h2>
        </div>
        <div class="contentItem">
          <mat-icon svgIcon="beans"></mat-icon>
          <h2>Arabica</h2>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LOG COFFEE <mat-icon svgIcon="portafilter"></mat-icon></button>
      <button mat-button>DETAILS <mat-icon svgIcon="information"></mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>